@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h2,h3,h4,h5 {
  font-family: "Merriweather", sans-serif;
  color: #333;
}

body{  background-color:  #fffcf9;
}


p {
  font-family: "Poppins", sans-serif;
  color: #333;}

.navbar {
  background-color: #fff2f9 !important; 
  font-family: 'Open Sans', sans-serif;
}

.nav-link {
  color: #1e0505 !important; 
}

.carousel-caption {
    background-color: rgba(240, 240, 240, 0.732); 
    border-radius: 10px;
  }

  .row .col-lg-4, .row .col-md-6, .row .col-sm-6, .row .col-12 {
    padding: 15px; 
  }
  
  [data-toggle="modal"] {
    margin-top: 20px; 
  }
  

.modal-content {
  font-family: "Roboto", sans-serif;
}

#signupForm {
  font-family: "Roboto", sans-serif;
}



body {
  font-size: 16px;
}

h1 {
  font-size: 2.5em; 
}

h2 {
  font-size: 2em; 
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

p {
  font-size: 1em; 
}

.nav-link {
  font-size: 1em;
}

.modal-content, #signupForm {
  font-size: 1em;
}

@media (max-width: 768px) {
  body {
    font-size: 14px; 
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1em;
  }
}


.btn-primary {
  font-size: 1em; 
}


h2,h3,h4,h5 {
  font-weight: 700; 
}


.container, .container-fluid {
  padding: 10px;
}

.btn-primary {
  background-color: #97779a !important; 
  border-color: #64355a !important;
  color: #ffffff !important;
}


.footer {
    background-color: rgba(182, 112, 120, 0.924); 
    height: 200px; 
  }